<div class='container mx-auto h-screen flex flex-col items-center justify-center'>
  <div class='mx-auto mb-12'>
    <%= image_tag 'eis_logo_eng_rgb_vertical.png', class: 'w-72 object-fit' %>
  </div>

  <div>
    <h2 class='text-center text-gray-900 text-3xl font-bold mb-2'><%= t('.introduction_title') %></h2>
    <h2 class='text-center text-gray-900'><%= t('.for_registrant_title') %></h2>

    <%= button_to t(:sign_in), "/auth/tara?env=registrant", data: { turbo: false }, class: "text-gray-600 inline-flex w-full justify-center rounded-md border  bg-white py-2 px-4 text-sm font-medium  shadow-sm  hover:text-white mt-12"%>
  </div>

  <div class='mt-6 border-t pt-2'>
    <%= link_to t('.for_registrar'), new_registrar_sessions_path, class: 'text-blue-400 hover:text-blue-500', layout: 'sessions' %>
  </div>
</div>  