<div class='contact-item'>
    <div class="space-y-4 flex items-baseline space-x-4">
      <div class="flex items-center">
        <%= form.radio_button :role, "priv", checked: form.object.new_record? ? true : form&.object&.role == 'priv', class: "h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-500" %>
        <%= form.label :role, t('.priv'), class: 'ml-3 block text-sm font-medium text-gray-700' %>
      </div>

      <div class="flex items-center">
        <%= form.radio_button :role, "org",  checked: form&.object&.role == 'org', class: "h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-500" %>
        <%= form.label :role, t('.org'), class: 'ml-3 block text-sm font-medium text-gray-700' %>
      </div>
    </div>

  <div id='private_form'>
    <b>Private contact field</b>

    <%= form.text_field :name, placeholder: 'New Contact Name' %>
    <%= form.text_field :email, placeholder: 'New Contact Email' %>
    <%= form.text_field :ident, placeholder: 'New Contact Ident' %>

    <%= form.hidden_field :_destroy %>

    <% if remove_button %>
      <div class='p2 w-16'>
        <a class='cursor-pointer rounded-full p-1 bg-red-400 hover:bg-red-600 w-8 text-white' data-action="click->form--add-element#removeElement">
          <%#= heroicon 'trash', variant: :solid, options: { class: 'h-5 w-5 text-white' } %> delete
        </a>
      </div>
    <% end %>
  </div>
</div>
