<div class='flex flex-col space-y-4 border-b border-gray-300 pb-6 contact-item' data-form--add-element-target="elementItem">
  <div class='w-96'>
    <%= component 'form/dropdown_input', form: field, attribute: :flags, enum: DnssecKey::FLAGS.map { |flag| [flag, flag] }, heroicon_name: 'user-circle' %>
  </div>

  <%= field.hidden_field :_destroy %>

  <div class='w-96'>
    <%= component 'form/dropdown_input', form: field, attribute: :protocol, enum: DnssecKey::PROTOCOLS.map { |protocol| [protocol, protocol] }, heroicon_name: 'user-circle' %>
  </div>

  <div class='w-96'>
    <%= component 'form/dropdown_input', form: field, attribute: :algorithm, enum: DnssecKey::ALGORITHMS.map { |algorithm| [algorithm, algorithm] }, heroicon_name: 'user-circle' %>
  </div>

  <div class='w-96'>
    <%= component 'form/text_input', form: field, attribute: :public_key, heroicon_name: 'user', placeholder: 'example.ee' %>
  </div>

  <%= tag.div class: 'flex justify-end' do %>
    <a class='cursor-pointer rounded-full p-1 bg-red-400 hover:bg-red-600' data-action="click->form--add-element#removeElement">
      <%= heroicon 'trash', variant: :solid, options: { class: 'h-5 w-5 text-white' } %>
    </a>
  <% end if remove_button %>
</div>
