<div class='flex flex-col w-full'>
  <div class="overflow-hidden bg-white shadow sm:rounded-lg">
    <div class="px-4 py-5 sm:px-6">
      <h3 class="text-lg font-medium leading-6 text-gray-900">Applicant Information</h3>
      <p class="mt-1 max-w-2xl text-sm text-gray-500">Personal details and application.</p>
    </div>
  </div>

  <h1 class='text-black text-2xl'>Information: Need to complete profile before user can create domain</h1>

  <%= tag.div class: 'p-4 rounded bg-red-400 text-white' do %>
    <%= t('.please_fill_your_profile') %>
  <% end unless current_user.do_all_fields_are_completed? %>

  <div class='px-4 py-5 sm:px-6 container mx-auto rounded-md shadow-md border border-gray-300 mt-12'>
      <%= form_with model: @domain, url: registrant_domains_path, class: 'w-full mt-8 space-y-3 flex justify-center flex-col' do |form| %>

        <%= render 'form', form: form %>

        <div class='flex justify-end'>
          <%= form.submit t('.submit'), 
            class: "mt-8 text-gray-600 w-64 rounded-md border border-[#A99F96] 
                  #{current_user.do_all_fields_are_completed? ? 'bg-blue-400 hover:bg-blue-500 hover:text-white cursor-pointer' : 'bg-gray-200'} 
                  py-2 px-4 text-sm font-medium text-[#A99F96] shadow-sm mt-2",
            disabled: current_user.do_all_fields_are_completed? ? false : true %>
        </div>
      <% end %>

      <div id="payment_method">
      </div>
  </div>
</div>  
