<div class='container mx-auto h-screen flex flex-col items-center justify-center space-x-8'>
  <h2 class='text-gray-900 text-2xl font-bold'><%= t('.title') %></h2>

  <div class='flex flex-row items-center'>
    <div class='border-r border-r-gray-700 pr-6'>
      <%= form_with url: registrar_sessions_path, class: 'w-full mt-8' do |form| %>
        <div class='flex items-center'>
          <%= form.label :username, class: 'text-bold text-sm text-gray-700 w-20' %>
          <%= form.text_field :username, placeholder: t('.username'), class: 'px-2 py-1 border border-gray-400' %>
        </div>
        <div class='mt-2 flex items-center'>
          <%= form.label :password, class: 'text-bold text-sm text-gray-700 w-20' %>
          <%= form.password_field :password, placeholder: t('.password'), class: 'px-2 py-1 border border-gray-400' %>
        </div>

        <div class='w-full flex justify-end'>
          <%= form.submit t('.submit'), class: 'px-5 py-2 bg-green-600 hover:bg-green-700 text-white mt-4' %>
        </div>
      <% end %>
    </div>

    <div class='ml-2'>
        <%= link_to t('.login_with_eeid'), "https://eid.internet.ee/oidc/authorize?client_id=oidc-4bd9a610-62d2-4790-ac50-811e4b19a381-25&state=1cf49d5579942df823cda40cf071983a", data: { turbo: false }, class: "text-black inline-flex w-full justify-center rounded-md border border-gray-300 bg-white py-2 px-4 text-sm font-medium text-gray-500 shadow-sm hover:bg-gray-50 mt-6" %>
    </div>
  </div>
</div>
