<div class='container mx-auto h-screen flex flex-col items-center justify-center'>
  <div class='mx-auto mb-12'>
    <%= image_tag 'eis_logo_eng_rgb_vertical.png', class: 'w-72 object-fit' %>
  </div>

  <div class=''>
    <h2 class='text-center text-gray-900 text-3xl font-bold mb-4'><%= t('.title') %></h2>

    <%= form_with url: registrar_sessions_path, class: 'w-full mt-8 space-y-3' do |form| %>

      <div class='w-72'>
        <%= component 'form/text_input', form: form, attribute: :username, heroicon_name: 'user', placeholder: 'johndoe@example.com' %>
      </div>

      <div class='w-72'>
        <%= component 'form/password_input', form: form, attribute: :password, heroicon_name: 'lock-closed' %>
      </div>

      <div class='w-full flex justify-center'>
        <%= form.submit t('.submit'), class: 'mt-8 text-gray-600 inline-flex w-full justify-center rounded-md border border-[#A99F96] bg-white py-2 px-4 text-sm font-medium text-[#A99F96] shadow-sm hover:bg-[#A99F96] hover:text-white mt-2 cursor-pointer' %>
      </div>
    <% end %>

    <div class="relative my-4">
      <div class="absolute inset-0 flex items-center" aria-hidden="true">
        <div class="w-full border-t border-gray-300"></div>
      </div>
      <div class="relative flex justify-center">
        <span class="bg-white px-2 text-sm text-gray-500"><%= t('.or') %></span>
      </div>
    </div>

    <%= button_to t(:sign_in), "/auth/tara?env=registrar", data: { turbo: false }, class: "text-gray-600 inline-flex w-full justify-center rounded-md border  bg-white py-2 px-4 text-sm font-medium  shadow-sm  hover:text-white mt-12" %>
  </div>

  <div class='mt-6 border-t pt-2'>
    <%= link_to t('.for_registrant'), new_sessions_path, class: 'text-blue-400 hover:text-blue-500', layout: 'sessions' %>
  </div>
</div>