<div class='flex flex-col w-full'>
  <div class="overflow-hidden bg-white shadow sm:rounded-lg">
    <div class="px-4 py-5 sm:px-6">
      <h3 class="text-lg font-medium leading-6 text-gray-900"><%= t('.title') %></h3>
      <p class="mt-1 max-w-2xl text-sm text-gray-500"><%= t('.description') %></p>
    </div>
  </div>

  <div class='px-4 py-5 sm:px-6 container mx-auto rounded-md shadow-md border border-gray-300 mt-12'>
      <%= form_for :domain, url: registrar_renews_path, method: :put, class: 'w-full mt-8 space-y-3 flex justify-center flex-col' do |form| %>

        <%= component 'divider', label: t('.transfer') %>

        <div class='flex justify-evenly pt-8'>
          <div class='w-96'>
            <%= component 'form/text_input', form: form, attribute: :name, heroicon_name: 'user', placeholder: @domain.name, disabled: true %>
          </div>

          <div class='w-96'>
            <%= component 'form/date_input', form: form, attribute: :expire_at, heroicon_name: 'user' %>
          </div>

          <div class='w-96'>
            <%= component 'form/dropdown_input', form: form, attribute: :period, enum: options_for_select(Domain::PERIOD, selected: 1), heroicon_name: 'user-circle' %>
          </div>
        </div>

        <div class='flex justify-center'>
          <%= form.submit t('.submit'), class: 'mt-8 text-gray-600 w-64 rounded-md border border-[#A99F96] bg-white py-2 px-4 text-sm font-medium text-[#A99F96] shadow-sm hover:bg-[#A99F96] hover:text-white mt-2 cursor-pointer' %>
        </div>
      <% end %>
  </div>  
</div>  
