<div>
  <%= component 'divider', label: t('.buyer_info') %>

  <div class='flex flex-row justify-start space-x-96 items-start' data-controller="form--invoice-autocomplete">
    <div class='flex flex-col space-y-4' >
      <%= form.hidden_field :buyer_id, data: { form__invoice_autocomplete_target: "hiddenInput" } %>

        <div class='w-96'>
          <%= component 'form/autocomplete_input', form: form, attribute: :ident, heroicon_name: 'user', placeholder: 'example.ee',
            data_attributes: { action: "input->form--invoice-autocomplete#search", form__invoice_autocomplete_target: "identInput" },
            value: @invoice&.buyer&.ident %>

          <ul class="dropdown-menu-invoice" data-form--invoice-autocomplete-target="results"></ul>
        </div>

      <div class='w-96'>
        <%= component 'form/text_input', form: form, attribute: :name, heroicon_name: 'user', placeholder: 'John Dee', options: { data_attributes: { form__invoice_autocomplete_target: "nameInput" } } %>
      </div>

      <div class='w-96'>
        <%= component 'form/text_input', form: form, attribute: :country_code, heroicon_name: 'user', placeholder: 'John Dee', options: { data_attributes: { form__invoice_autocomplete_target: "countryCodeInput" } } %>
      </div>

      <div class='w-96'>
        <%= component 'form/text_input', form: form, attribute: :state, heroicon_name: 'user', placeholder: 'John Dee', options: { data_attributes: { form__invoice_autocomplete_target: "stateInput" } } %>
      </div>

      <div class='w-96'>
        <%= component 'form/text_input', form: form, attribute: :street, heroicon_name: 'user', placeholder: 'John Dee', options: { data_attributes: { form__invoice_autocomplete_target: "streetInput" } } %>
      </div>
    </div>

    <div class='flex flex-col space-y-4' >
      <div class='w-96'>
        <%= component 'form/text_input', form: form, attribute: :city, heroicon_name: 'user', placeholder: 'John Dee', options: { data_attributes: { form__invoice_autocomplete_target: "cityInput" } } %>
      </div>
      
      <div class='w-96'>
        <%= component 'form/text_input', form: form, attribute: :zip, heroicon_name: 'user', placeholder: 'John Dee', options: { data_attributes: { form__invoice_autocomplete_target: "zipInput" } } %>
      </div>

      <div class='w-96'>
        <%= component 'form/text_input', form: form, attribute: :phone, heroicon_name: 'user', placeholder: 'John Dee', options: { data_attributes: { form__invoice_autocomplete_target: "phoneInput" } } %>
      </div>

      <div class='w-96'>
        <%= component 'form/text_input', form: form, attribute: :url, heroicon_name: 'user', placeholder: 'John Dee', options: { data_attributes: { form__invoice_autocomplete_target: "urlInput" } } %>
      </div>

      <div class='w-96'>
        <%= component 'form/email_input', form: form, attribute: :email, heroicon_name: 'user', placeholder: 'John Dee', options: { data_attributes: { form__invoice_autocomplete_target: "emailInput" } } %>
      </div>
    </div>
  </div>
</div>

<div >
  <%= component 'divider', label: t('.general') %>

  <div class='flex flex-row justify-start space-x-96 items-start'>
    <div class='flex flex-col space-y-4'>

      <div class='w-96'>
        <%= component 'form/textarea_input', form: form, attribute: :description %>
      </div>
    </div>

    <div class='flex flex-col space-y-4'>
      <div class='w-96'>
        <%= component 'form/number_input', form: form, attribute: :vat_rate, heroicon_name: 'user', placeholder: '20.0' %>
      </div>

      <div class='w-96'>
        <%= component 'form/datetime_input', form: form, attribute: :due_date, heroicon_name: 'user' %>
      </div>
    </div>
  </div>
</div>

<div>
  <%= component 'divider', label: t('.invoice_items') %>

  <div class='flex flex-col justify-center space-x-96' data-controller="form--add-element" data-form--add-element-child-index-value="new_invoice_item">
    <div class='flex flex-col justify-center space-y-2' data-form--add-element-target="list">
      <% @invoice.invoice_items.each_with_index do |invoice_item, index| %>
        <%= form.fields_for :invoice_items, invoice_item do |field| %>
          <% if index.zero? %>
            <%= render "invoice_item_fields", field: field, remove_button: false %>
          <% else %>
            <%= render "invoice_item_fields", field: field, remove_button: true %>
          <% end %>
        <% end %>
      <% end %>


      <div id="new-contact-template" data-form--add-element-target="template" style="display:none;">
        <%= form.fields_for :invoice_items, InvoiceItem.new, child_index: "new_invoice_item" do |field| %>
          <%= render "invoice_item_fields", field: field, remove_button: true %>
        <% end %>
      </div>
    </div>

    <div class='text-right mt-6'>
      <a class='rounded-md bg-green-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-green-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-green-600 cursor-pointer' data-action='click->form--add-element#addElement'><%= t('.add_invoice_item') %></a>
    </div>
  </div>
</div>

  





