<div class='space-x-2 contact-item p-3 border-b' data-form--add-element-target="elementItem">
  <div class='flex items-center justify-evenly '>
    <div class="flex flex-col space-y-3">
      <div class='w-96'>
        <%= component 'form/number_input', form: field, attribute: :unit_price, heroicon_name: 'user', placeholder: 10.0, value: field.object.nil? ? 0.0 : field.object.unit_price %>
      </div>

      <div class='w-96'>
        <%= component 'form/number_input', form: field, attribute: :quantity, heroicon_name: 'user', placeholder: 1.0, value: field.object.nil? ? 1.0 : field.object.quantity, min: 1.0 %>
      </div>
    </div>

    <%= field.hidden_field :_destroy %>

    <div class='w-96 mt-4'>
      <%= component 'form/textarea_input', form: field, attribute: :description %>
    </div>
  </div>

  <%= tag.div class: 'text-right' do %>
    <a class='rounded-md bg-red-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-red-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-600 cursor-pointer remove-button'
      data-action="click->form--add-element#removeElement">
      <%= t('.remove') %>
    </a>
  <% end if remove_button %>
</div>
