<tr>
  <td class="w-full max-w-0 py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:w-auto sm:max-w-none sm:pl-6">
    <%= invoice.number %>
    <dl class="font-normal lg:hidden">
      <dt class="sr-only"><%= invoice.number %></dt>
      <dd class="mt-1 truncate text-gray-700"><%= invoice.buyer.name %></dd>
      <dt class="sr-only sm:hidden"><%= invoice.total %></dt>
    </dl>
  </td>
  <td class="hidden px-3 py-4 text-sm text-gray-500 lg:table-cell"><%= invoice.buyer.name %></td>
  <td class="hidden px-3 py-4 text-sm text-gray-500 sm:table-cell"><%= invoice.total %></td>
  <td class="py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6 flex justify-end space-x-3">
    <%= link_to t('.show'), registrar_invoice_path(uuid: invoice.uuid), class: "px-3 py-1 rounded-md text-white bg-yellow-400 hover:bg-yellow-500 cursor-pointer" %>

    <%= link_to t('.edit'), edit_registrar_invoice_path(uuid: invoice.uuid), class: "px-3 py-1 rounded-md text-white bg-blue-400 hover:bg-blue-500 cursor-pointer" %>

    <%= button_to t('.delete'), registrar_invoice_path(uuid: invoice.uuid), method: :delete, class: "px-3 py-1 rounded-md text-white bg-red-400 hover:bg-red-500 cursor-pointer", form: { data: { turbo_confirm: t(".confirm_delete") } } %>
  </td>
</tr>
