<div class='flex flex-col items-center justify-center space-x-2 contact-item border p-3'
  data-form--add-element-target="elementItem">
  <div class="flex space-x-3">
    <div class='flex flex-col space-y-2'>
      <%= field.label :unit_price, class: 'w-32' %>
      <%= field.number_field :unit_price, class: 'px-2 py-1 border border-black w-96' %>
    </div>

    <div class='flex flex-col space-y-2'>
      <%= field.label :quantity, class: 'w-32' %>
      <%= field.number_field :quantity, min: 1.0, value: 1.0, class: 'px-2 py-1 border border-black w-96' %>
    </div>
  </div>

  <%= field.hidden_field :_destroy %>

    <div class='flex space-x-2'>
      <%= field.label :description, class: 'w-32' %>
        <%= field.text_area :description, class: 'px-2 py-1 border border-black w-96' %>
    </div>

    <% if remove_button %>
      <a class='rounded-md bg-red-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-red-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-600 cursor-pointer remove-button'
        data-action="click->form--add-element#removeElement">
        <%= t('.remove') %>
      </a>
      <% end %>
</div>