<%= form_with url: registrar_contacts_path, method: :get, 
  data: { 
    controller: 'behaviour--togglable behaviour--debounce filter--clear-form', 
    behaviour__togglable_props_class: 'hidden', behaviour__debounce_target: 'form',
    filter__clear_form_target: 'form', turbo_action: 'advance',
    turbo_frame: 'contacts', action: 'input->behaviour--debounce#search' 
  } do |f| %>

  <div class='mt-4 flex justify-between items-center'>
    <%= component 'form/search_input', form: f, attr: :name, placeholder: t('.search_by_name'), label_name: t('.search_by_name_label'), options: { parent_css: 'w-96' } %>

    <div>
      <a class='text-md text-indigo-500 underline cursor-pointer' data-action='behaviour--togglable#toggle'>Expand filter</a>
    </div>
  </div>
  <div data-behaviour--togglable-target='content' class='hidden mt-6 grid 2xl:grid-cols-4 xl:grid-cols-3 gap-4 items-end'>
    <div>
      <%= component 'form/search_input', form: f, attr: :code, placeholder: t('.search_by_codes'), label_name: t('.search_by_code_label'), options: { parent_css: 'w-72' } %>
    </div>
    <div>
      <%= component 'form/search_input', form: f, attr: :ident, placeholder: t('.search_by_idents'), label_name: t('.search_by_ident_label'), options: { parent_css: 'w-72' } %>
    </div>
    <div>
      <%= component 'form/search_input', form: f, attr: :email, placeholder: t('.search_by_emails'), label_name: t('.search_by_email_label'), options: { parent_css: 'w-72' } %>
    </div>
    <div class='w-72'>
      <%= component 'form/dropdown_input', form: f, attribute: :ident_type, enum: Contact.human_enum_options(:role), heroicon_name: 'user-circle' %>
    </div>
    <div class='w-72'>
      <%= component 'form/dropdown_input', form: f, attribute: :state, enum: Contact.human_enum_options(:state), heroicon_name: 'user-circle' %>
    </div>
    <div class='w-72'>
      <%= component 'form/country_select_input', form: f, attribute: :ident_country, heroicon_name: 'globe-alt' %>
    </div>
    <div class='w-72'>
      <%= component 'form/date_input', form: f, attribute: :updated_start_date, heroicon_name: 'user' %>
    </div>
    <div class='w-72'>
      <%= component 'form/date_input', form: f, attribute: :updated_end_date, heroicon_name: 'user' %>
    </div>
    <div class='w-72'>
      <%= component 'form/date_input', form: f, attribute: :created_start_date, heroicon_name: 'user' %>
    </div>
    <div class='w-72'>
      <%= component 'form/date_input', form: f, attribute: :created_end_date, heroicon_name: 'user' %>
    </div>
    <div class='flex flex-col justify-center'>
      <div class='w-72'>
        <%= component 'form/multiple_input', form: f, collection: Contact::STATUSES, attribute: :contact_status, placeholder: t('.contact_status'), classes: '' %>
      </div>
    </div>
    <div class='flex flex-col justify-center'>
      <%= link_to 'Clear', '#', 
          class: 'flex w-64 items-center justify-center rounded-md border border-orange-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 shadow-sm hover:bg-orange-50 self-baseline',
          data: { action: 'filter--clear-form#clearForm' } %>
    </div>
  </div>
<% end %>
