<div class='flex flex-col w-full'>
  <div class="overflow-hidden bg-white shadow sm:rounded-lg">
    <div class="px-4 py-5 sm:px-6">
      <h3 class="text-lg font-medium leading-6 text-gray-900">Applicant Information</h3>
      <p class="mt-1 max-w-2xl text-sm text-gray-500">Personal details and application.</p>
    </div>
  </div>

  <div class="px-4 py-5 sm:px-6 container mx-auto rounded-md shadow-md border border-gray-300 mt-12">
    <%= component 'contacts/info', contact: @contact %>

    <div class='flex items-center justify-end space-x-3'>
      <%= link_to t('.edit'), edit_registrar_contact_path(uuid: @contact.uuid), class: "px-3 py-1 rounded-md text-white bg-blue-400 hover:bg-blue-500 cursor-pointer" %>

      <%= button_to t('.delete'), registrar_contact_path(uuid: @contact.uuid), method: :delete, class: "px-3 py-1 rounded-md text-white bg-red-400 hover:bg-red-500 cursor-pointer", form: { data: { turbo_confirm: t(".confirm_delete") } } %>
    </div>

    <div>
      <h2 class="text-sm font-medium text-gray-500 mb-2"><%= t('.domains') %></h2>
        <%= component 'lists/basic_list', collection: @contact.domains.uniq %>
    </div>
  </div>
</div>