<li data-controller='behaviour--togglable' data-behaviour--togglable-props-class='hidden'>
  <div class="block hover:bg-gray-50">
    <div class="px-4 py-4 sm:px-6">
      <div class="flex items-center justify-between">
        <%= build_link %>
        <div class="ml-2 flex flex-shrink-0">
          <%= status %>
        </div>
      </div>
      <div class="mt-2 sm:flex sm:justify-between">
        <div class="sm:flex">
          <p class="flex items-center text-sm text-gray-500">
            <!-- Heroicon name: mini/users -->
            <svg class="mr-1.5 h-5 w-5 flex-shrink-0 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path d="M7 8a3 3 0 100-6 3 3 0 000 6zM14.5 9a2.5 2.5 0 100-5 2.5 2.5 0 000 5zM1.615 16.428a1.224 1.224 0 01-.569-1.175 6.002 6.002 0 0111.908 0c.058.467-.172.92-.57 1.174A9.953 9.953 0 017 18a9.953 9.953 0 01-5.385-1.572zM14.5 16h-.106c.07-.297.088-.611.048-.933a7.47 7.47 0 00-1.588-3.755 4.502 4.502 0 015.874 2.636.818.818 0 01-.36.98A7.465 7.465 0 0114.5 16z" />
            </svg>
            <%= leading %>
          </p>
        </div>
        <div class="mt-2 flex items-center text-sm text-gray-500 sm:mt-0">
          <!-- Heroicon name: mini/calendar -->
          <svg class="mr-1.5 h-5 w-5 flex-shrink-0 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M5.75 2a.75.75 0 01.75.75V4h7V2.75a.75.75 0 011.5 0V4h.25A2.75 2.75 0 0118 6.75v8.5A2.75 2.75 0 0115.25 18H4.75A2.75 2.75 0 012 15.25v-8.5A2.75 2.75 0 014.75 4H5V2.75A.75.75 0 015.75 2zm-1 5.5c-.69 0-1.25.56-1.25 1.25v6.5c0 .69.56 1.25 1.25 1.25h10.5c.69 0 1.25-.56 1.25-1.25v-6.5c0-.69-.56-1.25-1.25-1.25H4.75z" clip-rule="evenodd" />
          </svg>
          <p>
            <%= trailing %>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class='flex justify-center mb-4'>
    <span data-behaviour--togglable-target='iconDown' data-action='click->behaviour--togglable#toggle'>
      <%= heroicon 'chevron-down',  options: { class: 'h-5 w-5 text-gray-400 cursor-pointer' } %>
    </span>
    <span class='hidden' data-behaviour--togglable-target='iconUp' data-action='click->behaviour--togglable#toggle'>
      <%= heroicon 'chevron-up',  options: { class: 'h-5 w-5 text-gray-400 cursor-pointer' } %>
    </span>
  </div>

  <div class='hidden' data-behaviour--togglable-target='content'>
    <% if item.class.name.underscore == 'contact' %>
    <div class="px-4 py-5 sm:px-6 container mx-auto mt-12">
      <dl class="grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-2">
        <div class="sm:col-span-1">
          <dt class="text-sm font-medium text-gray-500"><%= t('.contact_name') %></dt>
          <dd class="mt-1 text-sm text-gray-900"><%= item.name %></dd>
        </div>
        <div class="sm:col-span-1">
          <dt class="text-sm font-medium text-gray-500"><%= t('.contact_code') %></dt>
          <dd class="mt-1 text-sm text-gray-900"><%= item.code %></dd>
        </div>
        <div class="sm:col-span-1">
          <dt class="text-sm font-medium text-gray-500"><%= t('.contact_ident ') %></dt>
          <dd class="mt-1 text-sm text-gray-900"><%= item.ident %></dd>
        </div>
        <div class="sm:col-span-1">
          <dt class="text-sm font-medium text-gray-500"><%= t('.contact_email')%></dt>
          <dd class="mt-1 text-sm text-gray-900"><%= item.email %></dd>
        </div>
        <div class="sm:col-span-1">
          <dt class="text-sm font-medium text-gray-500"><%= t('.contact_phone')%></dt>
          <dd class="mt-1 text-sm text-gray-900"><%= item.phone %></dd>
        </div>
        <div class="sm:col-span-2">
            <h2 class="text-sm font-medium text-gray-900"><%= t('.statuses') %></h2>

            <div class="prose prose-sm mt-4 text-gray-500">
              <ul role="list" class='flex space-x-3'>
                <% item.statuses.each do |status| %>
                  <li>
                    <span class="inline-flex items-center rounded-full bg-indigo-100 px-3 py-0.5 text-sm font-medium text-indigo-800">
                      <svg class="-ml-1 mr-1.5 h-2 w-2 text-indigo-400" fill="currentColor" viewBox="0 0 8 8">
                        <circle cx="4" cy="4" r="3" />
                      </svg>
                    <%= status.join %>
                    </span>
                  </li>
                <% end %>
              </ul>
            </div>
        </div>
      </dl>
    </div>
    <% end %>
  </div>
</li>