<div class="container mx-auto mt-12 px-4 sm:px-6 lg:px-8">
  <div class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
      <h1 class="text-xl font-semibold text-gray-900"><%= t('.title') %></h1>
      <p class="mt-2 text-sm text-gray-700">A list of all the users in your account including their name, title, email and role.</p>
    </div>
  </div>
  <div class="-mx-4 mt-8 overflow-hidden shadow ring-1 ring-black ring-opacity-5 sm:-mx-6 md:mx-0 md:rounded-lg p-8">
    <%= form_with url: admin_settings_path, method: :patch, class: 'w-full mt-8 space-y-4' do |form| %>

      <%= component 'admin/settings/invoice_group', form: form, invoice_group: @invoice_group %>
      <%= component 'admin/settings/registrar_group', form: form, registrar_group: @registrar_group %>
      <%= component 'admin/settings/contact_group', form: form, contact_group: @contact_group %>

      <div class='w-full flex justify-end'>
        <%= form.submit t('.submit'), class: "text-gray-600 inline-flex w-72 justify-center rounded-md border border-[#DDA77B] bg-white py-2 px-4 text-sm font-medium text-[#DDA77B] shadow-sm hover:bg-[#DDA77B] hover:text-white mt-2 cursor-pointer" %>
      </div>
    <% end %>
  </div>
</div>
