<div class="p-12 w-full">
    <h1 class='text-3xl font-bold text-center'><%= "#{t('.title')}, #{@username}" %></h1>

    <div class='container mx-auto'>

      <% if admin? %>
        <%= turbo_stream_from "dashboards_#{@tld.uuid}" %>
        <div id="admin_banner"></div>

        <%= render 'dashboards/admin' %>
      <% elsif registrar? %>
        <%= render 'dashboards/registrar' %>
        <% elsif registrant?  %>
        <%= render 'dashboards/registrant' %>
      <% end %>

    </div>
</div>
