<h1 class='text-3xl font-bold text-center'><%= t('.title') %></h1>

<div class='container mx-auto' data-controller='notifications'>
  <p><%= current_user.inspect %></p>

  <%= button_to t('.logout'), logout_path,
                method: :delete, class: "text-black rounded-md px-6 py-2 border border-grey-400 hover:text-white hover:bg-red-500 border border-black"  %>

  <% if admin? %>
  <%= turbo_stream_from "dashboards_#{Tld.first.uuid}" %>

    <div id="admin_banner">
    </div>

    You are admin

    <%= button_to t('.run_synchronize'), admin_synchronizes_path, class: "text-black rounded-md px-6 py-2 border border-grey-400 hover:text-white hover:bg-green-500 border border-black" %>

    <div>
      <%= link_to t('.registrar'), registrar_users_path, class: 'text-indigo-500' %>
    </div>

    <% elsif registrar? %>
    You are registrar
    <%= render 'dashboards/registrar' %>
    <% elsif registrant?  %>
  <% end %>
  
</div>
