<div class='flex items-center justify-center space-x-2 contact-item border p-3' data-controller="form--autocomplete">
  <%= field.label :contact, class: 'w-32' %>
  <%= field.text_field :contact,
                      class: 'px-2 py-1 border border-black w-96',
                      data: { action: "input->form--autocomplete#search", form__autocomplete_target: "input" } %>
  <ul class="autocomplete-results" data-form--autocomplete-target="results"></ul>

  <%= field.hidden_field :contact_id, data: { form__autocomplete_target: "hiddenInput" } %>

  <%= field.hidden_field :_destroy %>

  <div class='flex'>
    <label class="custom-radio mr-2">
      <%= field.radio_button :type, "AdminDomainContact", checked: true %>
      <span></span>
    </label>
    <%= field.label :domain_contact_type, t('.admin'), class: 'w-32 font-semibold mr-3' %>

    <label class="custom-radio mr-2">
      <%= field.radio_button :type, "TechDomainContact" %>
      <span></span>
    </label>
    <%= field.label :domain_contact_type, t('.tech'), class: 'w-32 font-semibold mr-3' %>
  </div>

  <% if remove_button %>
    <a class='rounded-md bg-red-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-red-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-600 cursor-pointer remove-button' data-action="click->form--add-element#removeElement"><%= t('.remove') %></a>
  <% end %>
</div>
