<h2 class='text-xl font-bold'><%= t('.general') %></h2>

<div class='flex flex-col items-center space-y-2' data-controller="form--autocomplete" >
  <%= form.fields_for(:user) do |field| %>
    <div class='flex space-x-2'>
      <%= field.label :name, class: 'w-32' %>
      <%= field.text_field :name, class: 'px-2 py-1 border border-black w-96' %>
    </div>

    <div class='flex space-x-2'>
      <%= field.label :registrant, class: 'w-32' %>
      <%= field.text_field :registrant,
                          class: 'px-2 py-1 border border-black w-96',
                          data: { action: "input->form--autocomplete#search", form__autocomplete_target: "input"
                          } %>
      <ul class="autocomplete-results" data-form--autocomplete-target="results"></ul>
    </div>

    <div class='flex space-x-2'>
      <%= field.label :period, class: 'w-32' %>
      <%= field.text_field :period, class: 'px-2 py-1 border border-black w-96' %>
    </div>

    <div class='flex space-x-2'>
      <%= field.label :reserved_pw, class: 'w-32' %>
      <%= field.text_field :reserved_pw, class: 'px-2 py-1 border border-black w-96' %>
    </div>
  <% end %>
</div>

<h2 class='text-xl font-bold'><%= t('.contacts') %></h2>

<div class="w-full" data-controller="form--add-element" data-form--add-element-child-index-value="new_contact">
  <div class='flex flex-col items-center space-y-2' data-form--add-element-target="list">
    <%= form.fields_for :domain_contacts do |field| %>
      <%= render "contact_fields", field: field, remove_button: true %>
    <% end %>

    <div id="new-contact-template" data-form--add-element-target="template" style="display:none;">
      <%= form.fields_for :domain_contacts, DomainContact.new, child_index: "new_contact" do |field| %>
        <%= render "contact_fields", field: field, remove_button: false %>
      <% end %>
    </div>
  </div>

  <div class='text-right'>
    <a class='rounded-md bg-green-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-green-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-green-600 cursor-pointer add-contact-button' data-action="click->form--add-element#addElement"><%= t('.add_contact') %></a>
  </div>
</div>


<h2 class='text-xl font-bold'><%= t('.nameserver') %></h2>

<div class="w-full" data-controller="form--add-element" data-form--add-element-child-index-value="new_nameserver">
  <div class='flex flex-col justify-center items-center space-y-2' data-form--add-element-target="list">
    <%= form.fields_for :nameservers do |field| %>
      <%= render "nameserver_fields", field: field, remove_button: true %>
    <% end %>

    <div id="new-contact-template" data-form--add-element-target="template" style="display:none;">
      <%= form.fields_for :nameservers, Nameserver.new, child_index: "new_nameserver" do |field| %>
        <%= render "nameserver_fields", field: field, remove_button: false %>
      <% end %>
    </div>
  </div>

  <div class='text-right'>
    <a class='rounded-md bg-green-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-green-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-green-600 cursor-pointer' data-action='click->form--add-element#addElement'><%= t('.add_nameserver') %></a>
  </div>
</div>

<h2 class='text-xl font-bold'><%= t('.dnskey') %></h2>

<div class="w-full" data-controller="form--add-element" data-form--add-element-child-index-value="new_dnssec">
  <div class='flex flex-col justify-center items-center space-y-2' data-form--add-element-target="list">
    <%= form.fields_for :dnssec_keys do |field| %>
      <%= render "dnssec_key_fields", field: field, remove_button: true %>
    <% end %>

    <div id="new-contact-template" data-form--add-element-target="template" style="display:none;">
      <%= form.fields_for :dnssec_keys, DnssecKey.new, child_index: "new_dnssec" do |field| %>
        <%= render "dnssec_key_fields", field: field, remove_button: false %>
      <% end %>
    </div>
  </div>

  <div class='text-right'>
    <a class='rounded-md bg-green-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-green-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-green-600 cursor-pointer' data-action='click->form--add-element#addElement'><%= t('.add_dnssec') %></a>
  </div>
</div>
