<div class='flex flex-col w-full mb-6'>
  <div class="overflow-hidden bg-white shadow sm:rounded-lg">
    <div class="px-4 py-5 sm:px-6">
      <h3 class="text-lg font-medium leading-6 text-gray-900">Applicant Information</h3>
      <p class="mt-1 max-w-2xl text-sm text-gray-500">Personal details and application.</p>
    </div>
  </div>

  <div class="px-4 py-5 sm:px-6 container mx-auto rounded-md shadow-md border border-gray-300 mt-12">
    <dl class="grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-2">
      <div class="sm:col-span-1">
        <dt class="text-sm font-medium text-gray-500"><%= t('.name') %></dt>
        <dd class="mt-1 text-sm text-gray-900"><%= @domain.name %></dd>
      </div>
      <div class="sm:col-span-1">
        <dt class="text-sm font-medium text-gray-500"><%= t('.transfer_code') %></dt>
        <dd class="mt-1 text-sm text-gray-900"><%= @domain.information['transfer_code'] %></dd>
      </div>
      <div class="sm:col-span-1">
        <dt class="text-sm font-medium text-gray-500"><%= t('.registrant_name ') %></dt>
        <dd class="mt-1 text-sm text-gray-900"><%= @domain.registrant.name  %></dd>
      </div>
      <div class="sm:col-span-1">
        <dt class="text-sm font-medium text-gray-500"><%= t('.registered_at')%></dt>
        <% if @domain.registry_created_at.present? %>
          <dd class="mt-1 text-sm text-gray-900"><%= l(@domain.registry_created_at.to_datetime) %></dd>
        <% else %>
          <dd class="mt-1 text-sm text-red-500"><%= t('.need_to_synchronize') %></dd>
        <% end %>
      </div>
      <div class="sm:col-span-1">
        <dt class="text-sm font-medium text-gray-500"><%= t('.valid_to')%></dt>
        <dd class="mt-1 text-sm text-gray-900"><%= l(@domain.expire_at) %></dd>
      </div>
      <div class="sm:col-span-1">
        <dt class="text-sm font-medium text-gray-500"><%= t('.created_at')%></dt>
        <dd class="mt-1 text-sm text-gray-900"><%= l(@domain.created_at) %></dd>
      </div>
      <div class="sm:col-span-1">
        <dt class="text-sm font-medium text-gray-500"><%= t('.updated_at')%></dt>
        <dd class="mt-1 text-sm text-gray-900"><%= l(@domain.updated_at) %></dd>
      </div>
      <div class="sm:col-span-1">
        <dt class="text-sm font-medium text-gray-500"><%= t('.state')%></dt>
        <dd class="mt-1">
          <span class="py-1 px-4 rounded-3xl text-white <%= @domain.active? ? 'bg-green-500' : 'bg-gray-500' %>"><%= @domain.state %></span>
        </dd>
      </div>

      <%= component 'common/statuses_info', status_notes: @domain.status_notes, statuses: @domain.statuses %>
      
      <div class="sm:col-span-2">
      <h2 class="text-sm font-medium text-gray-500 mb-2"><%= t('.domain_contacts') %></h2>
        <%= component 'lists/basic_list', collection: @domain.contacts.uniq %>
      </div>

      <div class="sm:col-span-2">
        <div class="mt-8 border-t border-gray-200 pt-8">
          <h2 class="text-sm font-medium text-gray-500 mb-2"><%= t('.nameservers') %></h2>

          <div class="prose prose-sm mt-4 text-gray-500">

            <% if @domain.nameservers.blank? %>
              <div class='flex flex-col justify-content items-center p-10 full-w'>
                <p class='font-3xl mb-3'><%= t('.no_nameservers') %></p>
              </div>
            <% else %>
              <ul role="list" class='flex space-x-3'>
                <% @domain.nameservers.each do |nameserver| %>
                  <li>
                    <p><%= nameserver.hostname %></p>
                    <p><%= nameserver.ipv4 %></p>
                    <p><%= nameserver.ipv6 %></p>
                  </li>
                <% end %>
              </ul>
            <% end %>
          </div>
        </div>
      </div>

      <div class="sm:col-span-2">
        <div class="mt-8 border-t border-gray-200 pt-8">
          <h2 class="text-sm font-medium text-gray-500 mb-2"><%= t('.dnskey') %></h2>

          <div class="prose prose-sm mt-4 text-gray-500">
            <% if @domain.dnssec_keys.blank? %>
              <div class='flex flex-col justify-content items-center p-10 full-w'>
                <p class='font-3xl mb-3'><%= t('.no_dnskey') %></p>
              </div>
            <% else %>
              <ul role="list" class='flex space-x-3'>
                <% @domain.dnssec_keys.each do |dns| %>
                  <li>
                    <p><%= dns.flags %></p>
                    <p><%= dns.protocol %></p>
                    <p><%= dns.algorithm %></p>
                    <p><%= dns.public_key %></p>
                  </li>
                <% end %>
              </ul>
            <% end %>
          </div>
        </div>
      </div>
    </dl>

    <hr>

    <div class='flex items-center justify-end space-x-3 mt-8 mb-8'>
      <%= link_to t('.renew'), registrar_renews_path(uuid: @domain.uuid), class: "px-3 py-1 rounded-md text-white bg-green-400 hover:bg-green-500 cursor-pointer" %>

      <%= link_to t('.edit'), edit_registrar_domain_path(uuid: @domain.uuid), class: "px-3 py-1 rounded-md text-white bg-blue-400 hover:bg-blue-500 cursor-pointer" %>

      <%= button_to t('.delete'), registrar_domain_path(uuid: @domain.uuid), method: :delete, class: "px-3 py-1 rounded-md text-white bg-red-400 hover:bg-red-500 cursor-pointer", form: { data: { turbo_confirm: t(".confirm_delete") } } %>
    </div>
  </div>
</div>