<!DOCTYPE html>
<html>
	<head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <script src="https://cdn.tailwindcss.com"></script>
    <title>Eedirect</title>
	</head>
<body>
	<main>
		<layout-columns class="columns is-centered">
			<layout-column class="column is-7">
				<%= yield %>
			</layout-column>
		</layout-columns>
	</main>
</body>
</html>
